<h1>Soporte</h1>
<ul>
    <li>Reclutamiento de Personal
	<li>Seleccion de Personal
	<li>Nominas
	<li>IMSS e Infonavit
	<li>Estructura de Salarios
	<li>Asesoria Laboral
	<li>Sistemas de Computo
</ul>

<%= link_to "Registrarse!", '#', :class => "signup_button round" %>
  