<h1>Grupo Trebol</h1>
<ul>
    <li>Reclutamiento de Personal
	<li>Seleccion de Personal
	<li>Nominas
	<li>IMSS e Infonavit
	<li>Estructura de Salarios
	<li>Asesoria Laboral
	<li>Sistemas de Computo
</ul>
  