<header>
 <%= image_tag("trebol.jpg", :alt => "Grupo Tress", :class => "round") %>
  <nav class="round">
	<ul>
      <li><%= link_to "Home", root_path %> </li>
      <li><%= link_to "Ayuda", help_path %> </li>
	  <li><%= link_to "Registrarse", '#' %> </li>
	</ul>
  </nav>
</header>